@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-gradient {
  background-image: linear-gradient(to right, #0ea5e9, #0E71A8, #0C659E);
}

/* 在您的 CSS 文件中 */
.underline-animation {
  position: relative;
  /* color: #118BBB; */
  /* 初始文字顏色 */
  overflow: hidden;
  background-color: #FFFFFF;
  /* 背景色始終保持白色 */
}

.underline-animation::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 50%;
  height: 1px;
  background-color: #118BBB;
  /* 初始底線顏色 */
  /* transition: background-color 0.3s; */
  /* 底線顏色過渡效果 */
}