@tailwind base;
@tailwind components;
@tailwind utilities;
@media (max-width: 10000px) {
  .navbar-bg-gradient {
    background-image: url("/navbar_design_icon.svg"),
      linear-gradient(to right, #0ea5e9, #0e71a8, #0c659e);
    background-position: calc(122%) calc(51%), center center;
    background-size: 900px 900px, cover;
  }
}

@media (max-width: 1280px) {
  .navbar-bg-gradient {
    background-image: url("/navbar_design_icon.svg"),
      linear-gradient(to right, #0ea5e9, #0e71a8, #0c659e);
    background-position: calc(150%) calc(51%), center center;
    background-size: 900px 900px, cover;
  }
}

@media (max-width: 1024px) {
  .navbar-bg-gradient {
    background-image: url("/navbar_design_icon.svg"),
      linear-gradient(to right, #0ea5e9, #0e71a8, #0c659e);
    background-position: calc(0%) calc(51%), center center;
    background-size: 900px 900px, cover;
  }
}

@media (max-width: 1023px) {
  .navbar-bg-gradient {
    background-image: linear-gradient(to right, #0ea5e9, #0e71a8, #0c659e);
    background-position: center center;
    background-size: cover;
  }
}

@media (max-width: 768px) {
  .navbar-bg-gradient {
    background-image: linear-gradient(to right, #0ea5e9, #0e71a8, #0c659e);
    background-position: center center;
    background-size: cover;
  }
}

@media (max-width: 480px) {
  .navbar-bg-gradient {
    background-image: linear-gradient(to right, #0ea5e9, #0e71a8, #0c659e);
    background-position: center center;
    background-size: cover;
  }
}
.navbar-bg-gradient {
  /* background-image: url("/navbar_design_icon.svg"),
    linear-gradient(to right, #0ea5e9, #0e71a8, #0c659e); */
  background-repeat: no-repeat, no-repeat;
  /* background-position: calc(112%) calc(51%), center center;
  background-size: 900px 900px, cover; */
}
.bg-bg-gradient {
  background-image: linear-gradient(
    to bottom,
    #a9cfd9,
    #bad4da,
    #cdd9dc,
    #dcdddd,
    #d8dcdd
  );
  min-height: 100vh; /* 使 div 至少有視窗的高度 */
  width: 100%; /* 確保寬度為視窗寬度 */
}
.bg-page-title {
  background-image: url("/page_title.svg");
}
/* 在您的 CSS 文件中 */
.underline-animation {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}

.underline-animation::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 50%;
  height: 1px;
  background-color: #118bbb;
}

.navbar-with-icon {
  background-image: url("/navbar_design_icon.svg");
}
